name: Starter Workflow
on:
  push:
    branches:
      - main

jobs:
  list-files:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: List The Directory Contents 
        run: ls
